#main-navbar {
  background-color: #1E3F66;
  overflow: hidden;
  
}
#navbar-container {
  float: right;
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar ul li a:hover {
  background-color: #000;
  color: #73A5C6;
}

html{
  background-color: #BCD2E8;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.columnTitle{
  position: relative;
  text-align: center;
  color: #2E5984;
}


.subtitle{
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 16pt;
  color:#1E3F66;
}

.subtitle-two{
  text-align: center;
  color: #4b1010;
}

.subtitle-three{
  text-align: center;
}

#body-text{
  width: 960px;
  position: relative;
}

#pinfo {
  float: right;
  width: 100%;
  position: relative;
}
#profilepicture{
  float: right;
  width: 100%;
  position: relative;
  text-align: center;
}

#contacts{
  text-align: center;
  text-decoration: none;
}

footer{
  clear: both;
  background-color: #1E3F66;
  overflow: hidden;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

footer a{
  color: #FFFFFF
}

main{
    float: left;
    width: 60%;
    margin: 0 5%; 
    outline: 2px solid #1E3F66;
    padding: 5px;
    }
    
#extras{
    float: left; 
    width: 20%;
    margin: 0 5% 0 0; 
    outline: 2px solid #1E3F66;
}

.recipe-title{
  text-align: center;
}


.picture {
  float: right;
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

#upcoming{
  text-align: center;
}

.upcomingpicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

#wrapper2{
  width: 650px;
  height: 600px;
  background-color: #c00;
  margin: 0 auto;
  overflow: hidden;
}
#canvas{
  width: 500px;
  height: 500px;
  background-color: #ccc;
  margin: 50px auto;
}

@media screen and (min-width: 800px){
  #canvas{
    width:700px;
    height:500px;
    background-color: #ffcccb;
    padding:5px;
  }
  
  #wrapper2{
    width:850px;
    height:600px;
    background-color: #ffcccb;
    padding:5px;
  }
}
